
    <div class="sidebar">
        <img src="/assets/img/gajetopo.png" class="topo">
        <h1>Pomar   -------Pro</h1>
        <nav>
            
            <details>
                <summary routerLink="/home" class="/primero">Home</summary>
                
            </details>
            <details>
                <summary>Administração</summary>
                <a routerLink="/cadUsuario" >Usuário</a>
                <a routerLink="/material">Material</a>
                <a routerLink="/produto">Produto</a>
            </details>
            <details class="ultimo">
                <summary>Pomar</summary>
                <a href="#cadastro">Cadastro</a>
                <a href="#Movimento">Movimento</a>
                <a href="#colheita">Colheita</a>
            </details>
            <a href=""></a>
            
        </nav>
        <button href="/login" class="sair">Sair</button>
        
    </div>
    

    <link href="https://fonts.cdnfonts.com/css/sprite-graffiti" rel="stylesheet">
                 
    <style>
        @import url('https://fonts.cdnfonts.com/css/sprite-graffiti');
</style>
