.full{
    background-image: url(/assets/img/as);
    background-size: cover;
   background-repeat: no-repeat;
}
html,body{
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 67%;
    font-family: candara;
    background-color:burlywood;
}